doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug Document
    body 
        div 
        div(class="container")
            div(class="row")
            div(class="col-md-12")
                h1 Hello World
                p This is my first Pug page
                p name: #{ person.username }
                p age: #{ person.age}
                //模板语句循环输出，需要单独一行
                each a in [1,2,3,4,5] 
                    span #{a}，