<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EJS view</title>
    </head>
    <body>
        <h1>Name: <%=person.username%></h1>
        <h2>Age: <%=person.age%></h2>
    </body>
</html>